
/* typical device breakpoints 

    small screens: max-width: 600px
    phone: max-width: 600px - 768px
    tablet: max-width: 768px - 992px
    desktop: max-width: 992px - 1024px
    extra large screens: above 1024px
    */

    @media screen and (min-width: 768px) and (max-width: 992px) {
        .hero{
            background-image: url(../imagens/images-mobile/image-tablet.jpg);
            
            height: 80rem;
            
        }
        
        .hero__nav__icon-menu{
            display: none;
        }
        .hero__box{
            width: auto;
            height: auto;
            position: inherit;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: auto;
        }
        .hero__container{
            display: flex;
            align-items: center;
            padding: 2.2rem 3rem 0rem 3rem;
        }
        
        .hero__container__nav-bar{
            padding: 0rem;   
        }

        .hero__nav{
            margin: 0;
        }
       
        .hero__nav__nav-list li{
            margin: 0rem 0rem 0rem 3rem;
            display: inline-block;
        }
        .hero__box .hero__stream{
            margin: 0rem 0rem 0rem 0rem;
            gap: 2rem;
        }
        .btn__stream{
            width: 16rem;
        }
        .btn__stream__link{
            font-size: 1.4rem;
        }

        .hero .hero__container__bar{
            display: block;
            /* height: 0.1rem;
            background-color: #fff; */
            /* margin: 0.5rem 2.6rem; */
        }

        .hero__container__order{
           
            margin-top: 9rem;
            
        }

        /* -------------------- */


        .catalogo__logos{
            display: flex;
            gap: 2rem;
        }
        .catalogo__logos :first-child{
            display: block;
        }

        .mandaloriano__image{
            /* background-image: url(../imagens/images-desktop/mandaloriano-desktop.svg);
            height: 35rem;
            width: 100%;
            background-position: top; */
        }
        .serie__image{
            flex-direction: row;
            justify-content: space-around;
        }
        .catalogo__bobafett{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }
        .catalogo__obi-wan{
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }
        .serie__image picture img{
            width: 45rem;
        }
        .serie__description{
            margin-top: 0rem;
        }

        .description__text{
            
        }
        .description__text img{
            width: 12rem;
        }

        .serie__button{
            justify-content: space-between;
        }
       
    }


    @media screen and (min-width: 993px) and (max-width: 1024px) {
        
        .hero{
            background-image: url(../imagens/images-desktop/home-desktop.svg);
            height: 100vh;
        }
        .hero__nav__icon-menu{
            display: none;
        }
        .hero__box{
            width: auto;
            height: auto;
            position: inherit;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: auto;
        }
        .hero__container{
            display: flex;
            align-items: center;
            padding: 2.2rem 3rem 0rem 3rem;
        }
        
        .hero__container__nav-bar{
            padding: 0rem;   
        }

        .hero__nav{
            margin: 0;
        }
       
        .hero__nav__nav-list li{
            margin: 0rem 0rem 0rem 3rem;
            display: inline-block;
        }
        .hero__box .hero__stream{
            margin: 0rem 0rem 0rem 0rem;
            gap: 2rem;
        }
        .btn__stream{
            width: 16rem;
        }
        .hero .hero__container__bar{
            display: block;
            /* height: 0.1rem;
            background-color: #fff; */
            margin: 0.5rem 2.6rem;
        }

        /* ---------------- */
        .catalogo__logos{
            display: flex;
            gap: 2rem;
        }
        .catalogo__logos :first-child{
            display: block;
        }

        /* .mandaloriano__image{
            background-image: url(../imagens/images-desktop/mandaloriano-desktop.svg);
            height: 65rem;
            width: 100%;
            background-position: top;
        }
        .serie__description{
            position: absolute;
            top: 7rem;
            left: 1.5rem;
        } */

        .serie__image{
            flex-direction: row;
            justify-content: space-around;
        }

        .catalogo__bobafett{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }
        .catalogo__obi-wan{
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }
        
        .serie__description{
            margin-top: 0rem;
        }
        .serie__image picture img{
            width: 45rem;
        }
        .serie__description{
            max-width: 30rem;
        }


        .description__text{
            text-align: left;
        }
        .description__text img{
            width: 23.5rem;
        }
        
        .serie__button{
            justify-content: space-between;
        }
    }


    @media screen and (min-width: 1025px) {
        
        .hero{
            background: url(../imagens/images-desktop/home-desktop.svg);
            height: 100vh;
            background-repeat: no-repeat;
        }
        .hero__nav__icon-menu{
            display: none;
        }
        .hero__box{
            width: auto;
            height: auto;
            position: inherit;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: auto;
        }
        .hero__container{
            display: flex;
            align-items: center;
            padding: 2.2rem 3rem 0rem 3rem;
        }
        
        .hero__container__nav-bar{
            padding: 0rem;   
        }
        .hero__nav__logo img{
            width: 10rem;
        }
        

        .hero__nav{
            margin: 0;
        }
       
        .hero__nav__nav-list li{
            margin: 0rem 0rem 0rem 3rem;
            display: inline-block;
        }
        .hero__box .hero__stream{
            margin: 0rem 0rem 0rem 0rem;
            gap: 2rem;
        }
        .serie__button .btn__stream{
            max-width: 16rem;
            height: 5rem;
        }
        .btn__stream{
            max-width: 16rem;
            height: 5rem;
            padding-left: 3rem;
            padding-right: 3rem;
        }
        .hero__stream img{
            width: 10rem;
        }
        
        .hero .hero__container__bar{
            display: block;
            /* height: 0.1rem;
            background-color: #fff; */
            margin: 0.5rem 2.6rem;
        }


        /* ---------------- */
        .catalogo__logos{
            display: flex;
            gap: 2rem;
        }
        .catalogo__logos :first-child{
            display: block;
        }
        .serie__image{
          
           justify-content: space-around;
           flex-direction: row;

        }
        .catalogo__bobafett{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }
        .catalogo__obi-wan{
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }
        
        .serie__description{
            margin-top: 0rem;
        }
        .serie__image picture img{
            width: 72rem;
        }
        .serie__description{
            max-width: 35rem;
        }
       


        .description__text{
            
        }
        .description__text img{
            width: 23.5rem;
        }
        
        .serie__button{
            justify-content: space-between;
        }
    }