
/* typical device breakpoints 

    small screens: max-width: 600px
    phone: max-width: 600px - 768px
    tablet: max-width: 768px - 992px
    desktop: max-width: 992px - 1024px
    extra large screens: above 1024px
    */

   
   @media screen and (min-width: 600px) and (max-width: 768px) {

        /* header */
        .hero{
            background-image: url(../imagens/images-mobile/image-tablet.jpg);
            height: 80rem;  
        }
        
        .hero__nav__icon-menu{
            display: none;
        }

        .hero__box{
            width: auto;
            height: auto;
            position: inherit;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: auto;
        }
        
        .hero__container{
            display: flex;
            align-items: center;
            padding: 2.2rem 3rem 0rem 3rem;
        }
        
        .hero__container__nav-bar{
            padding: 0rem;   
        }

        .hero__nav{
            margin: 0;
        }
       
        .hero__nav__nav-list li{
            margin: 0rem 0rem 0rem 3rem;
            display: inline-block;
        }

        .hero__box .hero__stream{
            margin: 0rem 0rem 0rem 0rem;
            gap: 2rem;
        }

        .btn__stream{
            width: 16rem;
        }

        .btn__stream__link{
            font-size: 1.4rem;
        }

        .hero .hero__container__bar{
            display: block;
        }

        /* barra de catálogo */


        .catalogo__logos{
            display: flex;
            gap: 2rem;
        }
        .catalogo__logos :first-child{
            display: block;
        }


        /* catalogo de séries */
        
        .serie__image{
            flex-direction: row;
            justify-content: space-around;
        }

        .catalogo__bobafett{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }

        .catalogo__obi-wan{
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }

        .serie__image picture img{
            width: 45rem;
        }

        .serie__description{
            margin-top: 0rem;
        }

        .description__text img{
            width: 12rem;
        }

        .serie__button{
            justify-content: space-between;
        }

        /* CATALOGO DE FILMES */
       
        .catalogo__filmes{
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .catalogo__button{
            width: auto;
            flex-direction: row; 
        }

        /* peronagens */

        .personagens__container{ 
            grid-template-columns: 1fr 1fr;
        }
    
   }
   
   
   
   
    @media screen and (min-width: 769px) and (max-width: 992px) {
       
       /* header */
        .hero{
            background-image: url(../imagens/images-mobile/image-tablet.jpg);
            height: 80rem;  
        }
        
        .hero__nav__icon-menu{
            display: none;
        }

        .hero__box{
            width: auto;
            height: auto;
            position: inherit;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: auto;
        }
        
        .hero__container{
            display: flex;
            align-items: center;
            padding: 2.2rem 3rem 0rem 3rem;
        }
        
        .hero__container__nav-bar{
            padding: 0rem;   
        }

        .hero__nav{
            margin: 0;
        }
       
        .hero__nav__nav-list li{
            margin: 0rem 0rem 0rem 3rem;
            display: inline-block;
        }

        .hero__box .hero__stream{
            margin: 0rem 0rem 0rem 0rem;
            gap: 2rem;
        }

        .btn__stream{
            width: 16rem;
        }

        .btn__stream__link{
            font-size: 1.4rem;
        }

        .hero .hero__container__bar{
            display: block;
        }

        /* barra de catálogo */


        .catalogo__logos{
            display: flex;
            gap: 2rem;
        }
        .catalogo__logos :first-child{
            display: block;
        }


        /* catalogo de séries */
        
        .serie__image{
            flex-direction: row;
            justify-content: space-around;
        }

        .catalogo__bobafett{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }

        .catalogo__obi-wan{
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }

        .serie__image picture img{
            width: 45rem;
        }

        .serie__description{
            margin-top: 0rem;
        }

        .description__text img{
            width: 12rem;
        }

        .serie__button{
            justify-content: space-between;
        }

        /* CATALOGO DE FILMES */
       
        .catalogo__filmes{
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .catalogo__button{
            width: auto;
            flex-direction: row; 
        }

        /* peronagens */

        .personagens__container{ 
            grid-template-columns: 1fr 1fr;
        }
       
    }


    @media screen and (min-width: 993px) and (max-width: 1024px) {
        
        /* header */
        
        .hero{
            background-image: url(../imagens/images-desktop/home-desktop.svg);
            height: 100vh;
        }

        .hero__nav__icon-menu{
            display: none;
        }

        .hero__box{
            width: auto;
            height: auto;
            position: inherit;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: auto;
        }

        .hero__container{
            display: flex;
            align-items: center;
            padding: 2.2rem 3rem 0rem 3rem;
        }
        
        .hero__container__nav-bar{
            padding: 0rem;   
        }

        .hero__nav{
            margin: 0;
        }
       
        .hero__nav__nav-list li{
            margin: 0rem 0rem 0rem 3rem;
            display: inline-block;
        }

        .hero__box .hero__stream{
            margin: 0rem 0rem 0rem 0rem;
            gap: 2rem;
        }

        .btn__stream{
            width: 16rem;
        }

        .hero .hero__container__bar{
            display: block;
            margin: 0.5rem 2.6rem;
        }

        /* Barra de catálogo */
        .catalogo__logos{
            display: flex;
            gap: 2rem;
        }
        .catalogo__logos :first-child{
            display: block;
        }

        /* Catálogo de séries */
        
        .serie__image{
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        
        .catalogo__bobafett{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }

        .catalogo__obi-wan{
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }
        
        .serie__description{
            margin-top: 0rem;
        }

        .serie__image picture img{
            width: 45rem;
        }

        .serie__description{
            max-width: 30rem;
        }

        .description__text{
            text-align: left;
        }
        .description__text img{
            width: 23.5rem;
        }
        
        .serie__button{
            justify-content: space-between;
        }

        /* CATALOGO DE FILMES */
         
        .catalogo__filmes{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
          }

          .catalogo__button{
            width: 100%;
          }

          .catalogo__button .btn__stream{
            max-width: auto; 
          }
  
          /* Personagens */

        .personagens__container{ 
            grid-template-columns: 1fr 1fr 1fr;
        }


        .personagens__box{
            height: 30rem;
            max-width: 32rem;
            flex-direction: column;   
        }

        .personagens__image{
            height: 20rem;
            width: 21rem;
        }

        .personagens__box span{
            font-size: 2rem;
            margin-top: 3rem;
        }
    }


    @media screen and (min-width: 1025px) {
        
        /* header */

        .hero{
            background: url(../imagens/images-desktop/home-desktop.svg);
            background-size: 100%;
            background-repeat: no-repeat;
            
        }

        .hero__nav__icon-menu{
            display: none;
        }

        .hero__box{
            width: auto;
            height: auto;
            position: inherit;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: auto;
        }

        .hero__container{
            display: flex;
            align-items: center;
            padding: 2.2rem 3rem 0rem 3rem;
        }
        
        .hero__container__nav-bar{
            padding: 0rem;   
        }

        .hero__nav__logo img{
            width: 10rem;
        }
        
        .hero__nav{
            margin: 0;
        }
       
        .hero__nav__nav-list li{
            margin: 0rem 0rem 0rem 3rem;
            display: inline-block;
        }

        .hero__box .hero__stream{
            margin: 0rem 0rem 0rem 0rem;
            gap: 2rem;
            flex: auto;
            justify-content: flex-end;
        }

        .serie__button .btn__stream{
            max-width: 16rem;
            height: 5rem;
        }

        .btn__stream{
            max-width: 18rem;
            height: 5rem;   
        }

        .hero__stream img{
            width: 10rem;
        }
        
        .hero .hero__container__bar{
            display: block;
            margin: 0.5rem 2.6rem;
        }

        /* main */
        main{
            max-width: 130rem;
            margin: auto;
        }

        /* barra de catálogo */
        .catalogo__logos{
            display: flex;
            gap: 2rem;
        }
        .catalogo__logos :first-child{
            display: block;
        }

        /* Catálogo de séries */
        .serie__image{
           justify-content: space-around;
           flex-direction: row;
        }

        .catalogo__bobafett{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }

        .catalogo__obi-wan{
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }
        
        .serie__description{
            margin-top: 0rem;
        }

        .serie__image picture img{
            width: 72rem;
        }

        .serie__description{
            max-width: 35rem;
        }
       
        .description__text img{
            width: 23.5rem;
        }
        
        .serie__button{
            justify-content: space-between;
        }


         /* CATALOGO DE FILMES */
         
         .catalogo__filmes{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
          }

          .catalogo__button{
            width: 100%;
          }

          .catalogo__button .btn__stream{
            max-width: auto; 
          }
  
          /* Personagens */

        .personagens__container{ 
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }


        .personagens__box{
            height: 30rem;
            max-width: 20rem;
            flex-direction: column;   
        }

        .personagens__image{
            height: 20rem;
            width: 21rem;
        }

        .personagens__box span{
            font-size: 2rem;
            margin-top: 3rem;
        }

          
    }